.button {
    display: inline-block;
    background-color: #F25A70;
    box-shadow: 5px 5px 0 black;
    padding: 18px 20px;
    margin-right: 0;
    transition: transform 2s linear cubic-bezier(0.25, 0.46, 0.45, 0.94);
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    margin-right: 30px;
    
}
#button:hover {
    transform: scale(1.05);
    opacity: 0.5;
}