.main-button {
    display: inline-block;
    background-color: #F25A70;
    box-shadow: 5px 5px 0 black;
    padding: 18px 20px;
    margin-right: 0;
    transition: 2s linear (0);
    font-size: 15px;
    color: #f8f8f8;
    text-decoration: none;
    margin-right: 30px;
    
}
.main-button:hover {
    transform:scale(1.05);
    opacity: 0.5;
    background: white;
}