.main-section {
    background-color: #576574;
    padding-top: 50px;
    padding-bottom: 100px;
    border-bottom: 10px solid #000000;
}

.main-section .main-title {
    margin-bottom: 60px;
}

.main-section.-bgBlack{
    background-color: black;
}

.main-section.-bdFirst{
    background-color: #000000;
}

.main-section.-bgSecond{
    background-color: #7C5E99;

}
.main-section.-bdBlack{
    border-color: black;
}