.progress-bar {
    box-sizing: border-box;
    border: 5px solid #000;
    height: 40px;
}

.progress-bar::-webkit-progress-bar {
    background-color:#ffffff;
}

.progress-bar::-webkit-progress-value {
    background-color: #000000;
}
